.parent{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.child-1{
	width: 30%;
	border: 1px solid #ddd;
	margin: 1%;
	padding: 1%;
	box-shadow: 0px 8px 8px -8px #000;
}

.child-2{
	width: 60%;
	border: 1px solid #ddd;
	margin: 1%;
	padding: 1%;
	box-shadow: 0px 8px 8px -8px #000;
}

.child-1 img{
	width: 50%;
	display: block;
	margin: 0 auto 0 auto;
}

	a{
		word-wrap: break-word;
		text-decoration: none;
	}
	h3{
		color: #33e9ff;
	}

	table{
		width: 100%;
		margin:1%;
		border: 1px solid #ddd; 
	}
	
	
table thead{
	background: #ddd;
}

thead tr th{
	padding: 1%;
}	
tbody tr:nth-child(n){
	background: lightpink;

}

tbody tr td{
	padding: 1%;
}
/* mobile device*/
@media only screen and (min-width: 320px) and (max-width: 767px){
	.child-1{
	width: 90%;
	border: 1px solid #ddd;
	margin: 1%;
	padding: 1%;
	box-shadow: 0px 8px 8px -8px #000;
}

.child-2{
	width: 90%;
	border: 1px solid #ddd;
	margin: 1%;
	padding: 1%;
	box-shadow: 0px 8px 8px -8px #000;
}


}

/*for tablets*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
.child-1{
	width: 45%;
	border: 1px solid #ddd;
	margin: 1%;
	padding: 1%;
	box-shadow: 0px 8px 8px -8px #000;
}

.child-2{
	width: 45%;
	border: 1px solid #ddd;
	margin: 1%;
	padding: 1%;
	box-shadow: 0px 8px 8px -8px #000;
}


}



